<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> VT-Med Endoscopy Gastric Gallery </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/gallery.css') }}">
</head>
<body>
    <div class="Main">
        <!-- Go Back Button -->
        <form action="/" , method="get">
            <input type="image" id="back_button" src="/static/BackButton2.png" style="border-radius: 8px;" height="70px" width="70px">
        </form>
        <b style="color: rgb(43, 148, 233);" id="GoBackText">Go Back to Main Menu</b>
        <br><br>


        <!-- Image Gallery -->
        <div class="gallery">
            <img src="/static/sample_images/1.png" id="img_1" alt="Sample_1">
            <a href="/static/sample_images/1.png" target="_blank" style="text-decoration: none">
                <label for="submission_id" class="submission_label_class">
                    <b style=" color: white; font-family: Optima"> SELECT </b>
                </label>
            </a><br>
        </div>

        <div class="gallery">
            <img src="/static/sample_images/2.png" alt="Sample_2">
            <a href="/static/sample_images/2.png" target="_blank" style="text-decoration: none">
                <label for="submission_id" class="submission_label_class">
                    <b style=" color: white; font-family: Optima"> SELECT </b>
                </label>
            </a><br>
        </div>

        <div class="gallery">
            <img src="/static/sample_images/3.png" alt="Sample_3">
            <a href="/static/sample_images/3.png" target="_blank" style="text-decoration: none">
                <label for="submission_id" class="submission_label_class">
                    <b style=" color: white; font-family: Optima"> SELECT </b>
                </label>
            </a><br>
        </div>

        <div class="gallery">
            <img src="/static/sample_images/4.png" alt="Sample_5">
            <a href="/static/sample_images/4.png" target="_blank" style="text-decoration: none">
                <label for="submission_id" class="submission_label_class">
                    <b style=" color: white; font-family: Optima"> SELECT </b>
                </label>
            </a><br>
        </div>

        <div class="gallery">
            <img src="/static/sample_images/5.png" alt="Sample_5">
            <a href="/static/sample_images/5.png" target="_blank" style="text-decoration: none">
                <label for="submission_id" class="submission_label_class">
                    <b style=" color: white; font-family: Optima"> SELECT </b>
                </label>
            </a><br>
        </div>

        <div class="gallery">
            <img src="/static/sample_images/6.png" alt="Sample_6">
            <a href="/static/sample_images/6.png" target="_blank" style="text-decoration: none">
                <label for="submission_id" class="submission_label_class">
                    <b style=" color: white; font-family: Optima"> SELECT </b>
                </label>
            </a><br>
        </div>

        <div class="gallery">
            <img src="/static/sample_images/7.png" alt="Sample_7">
            <a href="/static/sample_images/7.png" target="_blank" style="text-decoration: none">
                <label for="submission_id" class="submission_label_class">
                    <b style=" color: white; font-family: Optima"> SELECT </b>
                </label>
            </a><br>
        </div>

        <div class="gallery">
            <img src="/static/sample_images/8.png" alt="Sample_8">
            <a href="/static/sample_images/8.png" target="_blank" style="text-decoration: none">
                <label for="submission_id" class="submission_label_class">
                    <b style=" color: white; font-family: Optima"> SELECT </b>
                </label>
            </a><br>
        </div>

        <div class="gallery">
            <img src="/static/sample_images/9.png" alt="Sample_9">
            <a href="/static/sample_images/9.png" target="_blank" style="text-decoration: none">
                <label for="submission_id" class="submission_label_class">
                    <b style=" color: white; font-family: Optima"> SELECT </b>
                </label>
            </a><br>
        </div>

        <div class="gallery">
            <img src="/static/sample_images/10.png" alt="Sample_10">
            <a href="/static/sample_images/10.png" target="_blank" style="text-decoration: none">
                <label for="submission_id" class="submission_label_class">
                    <b style=" color: white; font-family: Optima"> SELECT </b>
                </label>
            </a><br>
        </div>
    </div>
</body>
</html>